In [1]:
from pyspark.sql import *

In [2]:
df = spark.read.csv('file:/E:/Project Python/myPython/ML Labs/4. Clustering/1. K-Means Clustering/Mall_Customers.csv', inferSchema=True, header=True)

In [3]:
df.show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income (k$): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)

In [5]:
df.columns

['CustomerID', 'Genre', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

In [6]:
df.count()

200

In [7]:
len(df.columns)

5

In [8]:
df.describe('Age').show()

+-------+-----------------+
|summary|              Age|
+-------+-----------------+
|  count|              200|
|   mean|            38.85|
| stddev|13.96900733155888|
|    min|               18|
|    max|               70|
+-------+-----------------+

In [9]:
df.select('Age','Annual Income (k$)').show()

+---+------------------+
|Age|Annual Income (k$)|
+---+------------------+
| 19|                15|
| 21|                15|
| 20|                16|
| 23|                16|
| 31|                17|
| 22|                17|
| 35|                18|
| 23|                18|
| 64|                19|
| 30|                19|
| 67|                19|
| 35|                19|
| 58|                20|
| 24|                20|
| 37|                20|
| 22|                20|
| 35|                21|
| 20|                21|
| 52|                23|
| 35|                23|
+---+------------------+
only showing top 20 rows

In [10]:
df.filter(df.Genre=='Male').show()

+----------+-----+---+------------------+----------------------+
|CustomerID|Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+-----+---+------------------+----------------------+
|         1| Male| 19|                15|                    39|
|         2| Male| 21|                15|                    81|
|         9| Male| 64|                19|                     3|
|        11| Male| 67|                19|                    14|
|        15| Male| 37|                20|                    13|
|        16| Male| 22|                20|                    79|
|        18| Male| 20|                21|                    66|
|        19| Male| 52|                23|                    29|
|        21| Male| 35|                24|                    35|
|        22| Male| 25|                24|                    73|
|        24| Male| 31|                25|                    73|
|        26| Male| 29|                28|                    82|
|        28| Male| 35|                28|                    61|
|        31| Male| 60|                30|                     4|
|        33| Male| 53|                33|                     4|
|        34| Male| 18|                33|                    92|
|        42| Male| 24|                38|                    92|
|        43| Male| 48|                39|                    36|
|        52| Male| 33|                42|                    60|
|        54| Male| 59|                43|                    60|
+----------+-----+---+------------------+----------------------+
only showing top 20 rows

In [11]:
df.filter(df.Genre=='Male').select('Age','Annual Income (k$)').show()

+---+------------------+
|Age|Annual Income (k$)|
+---+------------------+
| 19|                15|
| 21|                15|
| 64|                19|
| 67|                19|
| 37|                20|
| 22|                20|
| 20|                21|
| 52|                23|
| 35|                24|
| 25|                24|
| 31|                25|
| 29|                28|
| 35|                28|
| 60|                30|
| 53|                33|
| 18|                33|
| 24|                38|
| 48|                39|
| 33|                42|
| 59|                43|
+---+------------------+
only showing top 20 rows

In [12]:
df.filter(df.Genre=='Male').count()

88

In [13]:
df.filter((df.Genre=='Male') & (df.Age>50)).show()

+----------+-----+---+------------------+----------------------+
|CustomerID|Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+-----+---+------------------+----------------------+
|         9| Male| 64|                19|                     3|
|        11| Male| 67|                19|                    14|
|        19| Male| 52|                23|                    29|
|        31| Male| 60|                30|                     4|
|        33| Male| 53|                33|                     4|
|        54| Male| 59|                43|                    60|
|        58| Male| 69|                44|                    46|
|        60| Male| 53|                46|                    46|
|        61| Male| 70|                46|                    56|
|        65| Male| 63|                48|                    51|
|        71| Male| 70|                49|                    55|
|        75| Male| 59|                54|                    47|
|        81| Male| 57|                54|                    51|
|        83| Male| 67|                54|                    41|
|       103| Male| 67|                62|                    59|
|       108| Male| 54|                63|                    46|
|       109| Male| 68|                63|                    43|
|       110| Male| 66|                63|                    48|
|       111| Male| 65|                63|                    52|
|       129| Male| 59|                71|                    11|
+----------+-----+---+------------------+----------------------+
only showing top 20 rows

In [14]:
df.filter((df.Genre=='Male') & (df.Age>50)).count()

22

In [15]:
df.orderBy('Age').show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|        66|  Male| 18|                48|                    59|
|        92|  Male| 18|                59|                    41|
|       115|Female| 18|                65|                    48|
|        34|  Male| 18|                33|                    92|
|         1|  Male| 19|                15|                    39|
|        69|  Male| 19|                48|                    59|
|       139|  Male| 19|                74|                    10|
|       163|  Male| 19|                81|                     5|
|        62|  Male| 19|                46|                    55|
|       114|  Male| 19|                64|                    46|
|       112|Female| 19|                63|                    54|
|       116|Female| 19|                65|                    50|
|        40|Female| 20|                37|                    75|
|         3|Female| 20|                16|                     6|
|        18|  Male| 20|                21|                    66|
|       100|  Male| 20|                61|                    49|
|       135|  Male| 20|                73|                     5|
|         2|  Male| 21|                15|                    81|
|        36|Female| 21|                33|                    81|
|        32|Female| 21|                30|                    73|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [16]:
df.orderBy('Age', ascending=False).show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|        61|  Male| 70|                46|                    56|
|        71|  Male| 70|                49|                    55|
|        58|  Male| 69|                44|                    46|
|        68|Female| 68|                48|                    48|
|       109|  Male| 68|                63|                    43|
|        91|Female| 68|                59|                    55|
|        11|  Male| 67|                19|                    14|
|       103|  Male| 67|                62|                    59|
|        83|  Male| 67|                54|                    41|
|        63|Female| 67|                47|                    52|
|       110|  Male| 66|                63|                    48|
|       107|Female| 66|                63|                    50|
|        41|Female| 65|                38|                    35|
|       111|  Male| 65|                63|                    52|
|         9|  Male| 64|                19|                     3|
|        65|  Male| 63|                48|                    51|
|       117|Female| 63|                65|                    43|
|        31|  Male| 60|                30|                     4|
|        73|Female| 60|                50|                    49|
|        74|Female| 60|                50|                    56|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [17]:
df.registerTempTable('Mall_data')

In [18]:
sqlContext.sql('select * from Mall_data').show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows